@font-face {
  font-family: 'Gotham Pro Medium';
  src: url("../fonts/GothamPro-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Light';
  src: url("../fonts/GothamPro-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #292929;
  color: #fff;
  font-family: 'Gotham Pro', sans-serif;
  margin: 0;
}

.header {
  padding-top: 50px;
}

.header-text {
  font-family: 'Gotham Pro Light';
  font-size: 12px;
}

.header-text span {
  font-family: 'Gotham Pro Medium';
  color: #ff3469;
}

.header-phone {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  text-align: right;
  font-weight: 500;
  display: block;
  text-align: right;
}

.header-info {
  font-style: 12px;
  font-weight: 400;
  margin-top: 7px;
  display: block;
  text-align: right;
}

.header-callback {
  color: #FF2E55;
  text-align: right;
  display: block;
  font-size: 16px;
  margin-top: 16px;
}

.flowers-slider {
  width: 100%;
  margin-top: 83px;
  margin-bottom: 87px;
}

.hero {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 77px;
  border-bottom: 1px solid #4c4c4c;
}

.hero-title {
  font-size: 34px;
  margin-bottom: 34px;
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: 0.34px;
  font-family: 'Gotham Pro Medium';
}

.hero-description {
  font-family: 'Gotham Pro Light';
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 0.18px;
}

root {
  --swiper-navigation-size: 10px;
}

.hero-cta {
  display: block;
  font-size: 19px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.18px;
  margin-bottom: 36px;
}

.button {
  display: inline-block;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #FF2E55;
  padding: 26px 65px;
}

.reviews {
  padding-top: 100px;
  padding-bottom: 50px;
}

.review-slide {
  padding-left: 60px;
  padding-right: 60px;
}

.review-sliser {
  margin-bottom: 98px;
}

.review-image {
  width: 220px;
  height: 220px;
  flex-shrink: 0;
  border: 1px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  font-size: 20px;
  font-family: 'Gotham Pro Light';
  position: relative;
  margin-right: 50px;
}

.review-image:before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
}

.review-image > * {
  position: relative;
}

.review-image-1 {
  background: #000 url("../img/bunch.jpg");
}

.review-name {
  margin-bottom: 7px;
}

.review-text {
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 1.4;
}

.review-link {
  color: #F24841;
}

.section-title {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3;
}

.advantages {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
  border-bottom: 1px solid #4c4c4c;
}

.advantages-wrapper {
  min-height: 85px;
  margin-bottom: 30px;
}

.advantages-title {
  font-family: 'Gotham Pro Medium';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  max-width: 270px;
  margin: auto;
}

.goods {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-description {
  font-size: 18px;
  text-align: center;
}
